.App {
  text-align: center;
  background-color: #F5F5F5;
  min-height: 100vh;
  -ms-overflow-style: none;
    /* IE and Edge */
  scrollbar-width: none;

  /* font-family: 'Noto Serif'; */
    /* Firefox */
}


@font-face {
  font-family: 'Noto Serif';
  src: url(./fonts/NotoSerifMakasar-Regular.ttf);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.highlight {
  background-color: #930123;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  position: fixed;
}