.nav {
    padding: 1rem;
    --tw-text-opacity: 1;
    color: rgb(248 250 252 / var(--tw-text-opacity));
    display: flex;
    justify-content: space-between;
    max-height: 5rem;
    position: fixed;
    width: 100%;
    /* background-color: #930123; */
    transition: 0.2s ease;
}

.nav-scroll {
    padding: 1rem;
    --tw-text-opacity: 1;
    color: rgb(248 250 252 / var(--tw-text-opacity));
    display: flex;
    justify-content: space-between;
    max-height: 5rem;
    position: fixed;
    width: 100%;
    background-color: #930123;
    transition: 0.2s ease
}